.nav-background {
  background-color: #2c2e3e;
  color: white;
}

#nav-brand-color {
  color: white;
  font-weight: 600;
}

#nav-links {
  color: #848484;
  letter-spacing: 0px;
  font-weight: 600;
}

#nav-links:hover {
  color: #ffbb33;
}

#my-nav {
  margin-left: 40px;
}
